welcome {{user_name}}<br/>
<style>
  table, th, td {
  border: 1px solid black;
}
</style>
<h2>Your work history</h2>
<table >
  <tr><th>Date</th><th colspan="2">Hours worked</th></tr>
  {% for entry in work_diary %}
  <tr><td>{{entry.date}} </td>
  <td>{{entry.hours_worked}}</td><td><a href="delete/{{entry.id}}/">delete</a></td></tr>
  {% endfor %}
</table>


<h2>Work log form</h2>

<form action="/" method="post">

  {% csrf_token%}
  <div class="container">

    <label for="date"><b>Date</b></label>
    <input type="date" placeholder="Enter Date" name="date" required>
        

    <label for="hours"><b>hours</b></label>
    <input type="text" placeholder="Enter hours" name="hours" required>

    <button type="submit">Save</button>
  
  </div>

</form>
<a href="/users/logout">logout</a>
{% for message in messages %}
  <span>{{message}}</span>
{% endfor %}

